<footer>
    <div class="take-step-section">
        <div class="take-step-image">
            <img src="/images/take-first-step.jpg" alt="Take The First Step Image">
        </div>
        <div class="take-step-content">
            <h2>Take The First Step</h2>
            <p>Reach out now for a free 15 min Consultation or to Request an Appointment</p>
            <a href="https://lisa-acker.clientsecure.me/" class="appointment-button footer-appointment-button">Request An Appointment</a>
        </div>
    </div>
    
    <div class="footer-info">
        <div class="footer-logo">
            <img src="/images/sage-logo-image.png" alt="Logo">
        </div>
        <div class="contact-info">
            <p><strong>EMAIL:</strong> <a href="mailto:lisaacker@sagepsychla.com">lisaacker@sagepsychla.com</a></p>
            <p><strong>License:</strong> #LEP4460</p>
        </div>
        <div class="footer-availability">
            <h3>Appointment Times</h3>
            <div class="footer-availability-times">
                <p><strong>Online:</strong> Mon-Thu 9 am - 11 am, Fri 9 am - 5 pm</p>
                <p><strong>In-Person:</strong> Sat 12 pm - 5 pm (West LA Office)</p>
            </div>
        </div>
    </div>
    <p class="footer-copy">&copy; 2024 Sage Psychological Services. All rights reserved.</p>
</footer>