<header>
    <div id="logo-title-button" class="logo">
        <!-- Placeholder for Logo -->
        <img src="/images/sage-logo-image.png" alt="Logo" class="logo-img">
        
        <!-- Title turned into a button -->
        <h1>Sage Psychological Services</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <div class="nav-appointment-button">
        <a href="/contact" class="appointment-button nav-appointment-button">Request Appointment</a>
    </div>
</header>