<header>
    <h1>Sage Psychological Services</h1>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
        <a href="/contact" class="appointment-button">Request Appointment</a>
    </nav>
</header>