<header>
    <div id="logo-title-button" class="logo">
        <img src="/images/sage-logo-image.png" alt="Logo" class="logo-img">
        <h1>Sage Psychological Services</h1>
    </div>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li class="dropdown">
                <a href="/services" class="dropdown-btn">Services</a>
                <ul class="dropdown-content">
                    <li><a href="/consults">Clinical Consultation</a></li>
                    <li><a href="/assessments">Psychoeducational Assessments</a></li>
                    <li><a href="/therapy">Solution-Focused Therapy</a></li>
                </ul>
            </li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </nav>
    <div class="nav-appointment-button">
        <a href="https://lisa-acker.clientsecure.me/" class="appointment-button nav-appointment-button">Request Appointment</a>
    </div>
</header>