<div class="about-header">
    <h1>About</h1>
</div>

<section class="about">
    <div class="about-content">
        <div class="about-image">
            <img src="/images/bio-image.jpg" alt="Profile Image">
        </div>
        <div class="about-text">
            <h2>Dr. Lisa Acker</h2>
            <p>
                I’m a psychologist with over 20 years of experience working with individuals and families. I’m dedicated to providing excellent care for children and adults, offering personalized support through evidence-based therapy, parent consultations, and psychoeducational assessments. I create a warm, nonjudgmental environment where you’ll feel heard, supported, and understood.
            </p>
            <p>
                For over 20 years, I have worked with a diverse array of people, from childhood through adulthood, across the US, and in Hong Kong and England. I work from an integrative perspective, tailoring the therapeutic modality to the expressed goals. My professional and personal experience has provided me with an appreciation of multiple cultures and perspectives and a broad range of treatments and interventions to draw from. My experience spans private practice, top-notch college prep day and boarding schools, and community agencies.
            </p>
            <p>
                I am a licensed Psychologist, with a Doctorate in Psychology and a Master's degree in Educational Psychology. In addition, I have completed advanced training in Cognitive Behavior Therapy (CBT), Exposure Response Prevention (ERP), Cognitive Processing Therapy (CPT), and Habit Reversal Training (HRT).
            </p>
            <p>
                On a personal note, and one I am most proud of, I am also the mother of three young adults who are freshly graduated from college and are launching their lives and careers.
            </p>
        </div>
    </div>
</section>