<!-- Assessments Header Section -->
<div class="assessments-header">
    <h1>Psychoeducational Assessments</h1>
</div>

<!-- Assessments Introduction Section -->
<section class="assessments-intro-section">
    <div class="assessments-intro-section-content">
        <!-- Introductory Text -->
        <div class="assessments-intro-section-text">
            <h2>Comprehensive Evaluations</h2>
            <h3>What I Do</h3>
            <p>
                A psychoeducational evaluation consists of a series of formal and structured psychological and academic/achievement tests, as well as clinical interviews to help identify one’s emotional, behavioral, learning, and cognitive profile.</p>
            <p>This evaluation can be used to determine eligibility for special education services, 504 accommodations plan, or accommodations on standardized tests (e.g., SAT, ACT, Bar Exam).
            </p>
        </div>

        <!-- Introductory Image -->
        <div class="assessments-intro-section-image">
            <img src="/images/assessments-image.png" alt="Psychoeducational Assessments">
        </div>
    </div>
</section>

<!-- Assessments Evaluation Process Section -->
<section class="assessments-evaluation-process-section">
    <h2>Evaluation Process</h2>
    <div class="evaluation-process-steps">
        <div class="evaluation-step">
            <img src="/images/meeting.png" alt="Initial Meeting Icon">
            <p>Initial consultation meeting and clinical intake interview</p>
        </div>
        {{!-- <div class="evaluation-step">
            <img src="/images/icon-history-form.png" alt="History Form Icon">
            <p>Personal/Family History Form and Consent Forms sent</p>
        </div> --}}
        <div class="evaluation-step">
            <img src="/images/icon-questionnaire.png" alt="Questionnaire Icon">
            <p>Links to complete screening questionnaires are sent and testing sessions are scheduled</p>
        </div>
        <div class="evaluation-step">
            <img src="/images/icon-diagnostic.png" alt="Diagnostic Interview Icon">
            <p>Diagnostic interview(s) with the individual, parents, and/or others are scheduled</p>
        </div>
        <div class="evaluation-step">
            <img src="/images/icon-schedule.png" alt="Testing Session Icon">
            <p>Psychological and Academic Tests administered</p>
        </div>
        <div class="evaluation-step">
            <img src="/images/icon-feedback.png" alt="Feedback Session Icon">
            <p>Feedback session to review results, diagnoses, and recommendations</p>
        </div>
        <div class="evaluation-step">
            <img src="/images/icon-report.png" alt="Report Icon">
            <p>Comprehensive report with diagnoses and recommendation sent</p>
        </div>
    </div>
</section>

<!-- Assessments Conclusion Section -->
<section class="assessments-conclusion-section">
    <div class="assessments-conclusion-section-content">
        <!-- Conclusion Image -->
        <div class="assessments-conclusion-section-image">
            <img src="/images/assessments-conclusion-image.jpg" alt="Assessment Discussion">
        </div>

        <!-- Conclusion Text -->
        <div class="assessments-conclusion-section-text">
            <h2>How is a Psychological Evaluation Helpful?</h2>
            <p>
                Psychological evaluations can be beneficial to determine appropriate diagnoses that may benefit from treatment. Evaluations provide resources and recommendations even if no diagnosis is supported by the results. They offer valuable information about strengths, areas for growth, and recommendations to enhance processing skills.
            </p>
        </div>
    </div>
</section>