<!-- Header Section -->
<div class="consults-header">
    <h1>Consultations</h1>
</div>

<!-- Content Section -->
<section class="consults-section">
    <div class="consults-content">
        <!-- Image -->
        <div class="consults-image">
            <img src="/images/consultation-image.jpeg" alt="Clinical Consultation">
        </div>

        <!-- Description -->
        <div class="consults-description">
            <h2>Consultations</h2>
            <p>
                I work with you to identify relational supports for you and your family that help you navigate parenting with more confidence, connection, and success. Using problem-solving skills and the latest research on parenting and the brain, we’ll explore strategies to turn difficult moments and negative behavior patterns into opportunities for growth where both you and your child can thrive. We’ll work to help you peacefully resolve conflicts, and strengthen resilience for everyone in the family.
            </p>
        </div>

    </div>
</section>

<!-- Consults Conclusion Section -->
<section class="consults-conclusion-section">
    <div class="consults-conclusion-section-content">
        <!-- Conclusion Text -->
        <div class="consults-conclusion-section-text">
            <h2>How can a Consultation be Helpful?</h2>
            <p>
                Parenting can be really tough, from facing contentious everyday challenges to navigating traumatic situations to get your child or your family back on track. When your child’s emotions or behavior feel overwhelming, it’s natural to feel at a loss for what to do. Sitting down with an expert can be incredibly helpful for getting your questions answered, learning more effective strategies, and finding ways to be more intentional about strengthening your relationship with your teen.
            </p>
        </div>

        <!-- Conclusion Image -->
        <div class="consults-conclusion-section-image">
            <img src="/images/consults-conclusion-image.jpg" alt="Consults Conclusion Image">
        </div>
    </div>
</section>