<!-- Header Section -->
<div class="consults-header">
    <h1>Consultations</h1>
</div>

<!-- Content Section -->
<section class="consults-section">
    <div class="consults-content">
        <!-- Image -->
        <div class="consults-image">
            <img src="/images/consultation-description-image.jpeg" alt="Clinical Consultation">
        </div>

        <!-- Description -->
        <div class="consults-description">
            <h2>Consultations</h2>
            <p>
                Consultation sessions are available to support you in navigating parenting with greater confidence, connection, and success. Through problem-solving techniques and psychological support, we will identify effective strategies to transform challenges into opportunities for growth. Together, we will work to help you peacefully resolve conflicts while equipping everyone with the tools to build resilience and foster lasting, positive relationships.
            </p>
        </div>

    </div>
</section>

<!-- Consults Conclusion Section -->
<section class="consults-conclusion-section">
    <div class="consults-conclusion-section-content">
        <!-- Conclusion Text -->
        <div class="consults-conclusion-section-text">
            <h2>How can a Consultation be Helpful?</h2>
            <p>
                When your child’s emotions or behavior feel overwhelming, it’s natural to feel at a loss for what to do. Sitting down with an expert can be incredibly helpful for getting your questions answered, learning more effective strategies, and finding ways to strengthen your relationship with your teen. Consultations can provide guidance for navigating both everyday challenges and traumatic experiences, helping you regain stability and move forward.
            </p>
        </div>

        <!-- Conclusion Image -->
        <div class="consults-conclusion-section-image">
            <img src="/images/consultation-image.jpg" alt="How consults help image">
        </div>
    </div>
</section>