<!-- Hero Section -->
<section class="hero">
    <h2>Wisdom. Clarity. Growth.</h2>
    <p>Psychological Services for Californians</p>
    <a href="/contact" class="cta-button">Get in Touch</a>
</section>

<!-- Welcome Section -->
<section class="welcome">
    <div class="welcome-content">
        <h2>Welcome</h2>
        <p>At Sage Psychological Services, we’re passionate about providing personalized, compassionate care for teens and adults. Whether through therapy, consultations, or psychoeducational testing, we’re here to support you or your adolescent in gaining self-awareness, overcoming challenges, and reaching your goals. Our mission is to advocate for your wellbeing, and ensure you have the tools, support, and guidance you need to thrive.</p>
    </div>
    <div class="welcome-image">
        <img src="/images/welcome-image.jpg" alt="Welcome Image">
        <p class="hidden-attribution">
            <a href="https://www.vecteezy.com/photo/32493553-blurred-image-of-natural-background-from-water-and-plants-generative-ai" target="_blank" rel="noopener noreferrer">
                Stock photos by Vecteezy
            </a>
        </p>
    </div>
</section>

<!-- Expertise & Specializations Preview Section -->
<section class="home-expertise">
    <h2>My Services</h2>
    <div class="home-expertise-content">
        <div class="home-expertise-item" id="consults">
            <h3>Parenting Support</h3>
            <img src="/images/consultation-image.jpeg" alt="Consultation Image">
            <p>A parent consultation is a meeting where we discuss your child's needs, behaviors, and progress, and I provide guidance to help you navigate parenting challenges.</p>
            <p>Parent Consultation addresses behavioral and academic concerns, creates strategies for improvements and outlines a plan for success. The primary focus is on developing your toolbox of parenting strategies.</p>
            <a href="/consults" class="learn-more-button">Learn More</a>
        </div>
        <div class="home-expertise-item" id="assessments">
            <h3>Psychoeducational Assessments</h3>
            <img src="/images/assessments-image.png" alt="Assessments Image">
            <p>I offer comprehensive psychoeducational assessment evaluations to clearly understand your child's learning style, strengths, and challenges, how they process information and manage their emotions and behavior.</p>
            <p>The most important result of a psychoeducational assessment is the comprehensive recommendations for home and school.</p>
            <a href="/assessments" class="learn-more-button">Learn More</a>
        </div>
        <div class="home-expertise-item" id="therapy">
            <h3>Solution-Focused Therapy</h3>
            <img src="/images/therapy-image.png" alt="Therapy Image">
            <p>Targeted therapy sessions for teens and adults struggling with Anxiety, OCD, Tic Disorders, BFBR's, Depression, and to help recover from traumatic events.</p>
            <p>Using effective therapy modalities, I help clients work through challenges, providing trauma-informed care that focuses on healing and building resilience.</p>
            <a href="/therapy" class="learn-more-button">Learn More</a>
        </div>
    </div> 
    <h4>Online and In-Person Appointments Available</h4>
</section>

<!-- Testimonials ?-->

<!-- About Preview Section -->

<section class="home-about">
    <div class="home-about-content">
        <div class="home-about-text">
            <h2>Dr. Lisa Acker</h2>
            <p>
                "I'm a psychologist with over 20 years of experience working with individuals and  families. I’m dedicated to providing excellent care for adolescents and adults, offering personalized support through evidence-based therapy, parent coaching, and psychoeducational assessments. I create a warm, nonjudgmental environment where you’ll feel heard, supported, and understood.
            </p>
            <p>
                For over 20 years, I have worked with a diverse array of people, from childhood through adulthood, across the US, and in Hong Kong and England. I work from an integrative perspective, tailoring the therapeutic modality to the expressed goals. My professional and personal experience has provided me with..."
            </p>
            <a href="/about" class="read-more-button">Read More</a>
        </div>
        <div class="home-about-image">
            <img src="/images/bio-image.jpg" alt="Profile Image">
        </div>
    </div>
</section>