<!-- Hero Section -->
<section class="hero">
    <h2>Wisdom. Clarity. Growth.</h2>
    <p>Psychological Services</p>
    <a href="/contact" class="cta-button">Get in Touch</a>
</section>

<!-- Welcome Section -->
<section class="welcome">
    <div class="welcome-content">
        <h2>Welcome</h2>
        <p>Providing solution-focused and personalized care for children, adults, and families. Through therapy, parent consultation, or psychoeducational testing, I support you in gaining self-awareness, overcoming challenges, and reaching your goals. Extensively trained in working with individuals with anxiety based disorders and trauma based interventions.</p>
    </div>
    <div class="welcome-image">
        <img src="/images/welcome-image.jpg" alt="Welcome Image">
        <p class="hidden-attribution">
            <a href="https://www.vecteezy.com/photo/32493553-blurred-image-of-natural-background-from-water-and-plants-generative-ai" target="_blank" rel="noopener noreferrer">
                Stock photos by Vecteezy
            </a>
        </p>
    </div>
</section>

<!-- Expertise & Specializations Preview Section -->
<section class="home-expertise">
    <h2>My Services</h2>
    <div class="home-expertise-content">
        <div class="home-expertise-item" id="therapy">
            <h3>Solution-Focused Therapy</h3>
            <img src="/images/therapy-image.png" alt="Therapy Image">
            <p>Targeted therapy sessions for children and adults struggling with Anxiety, OCD, Tic Disorders, BFBR's, Depression, and to aid in recovering from traumatic events.</p>
            <p>Using effective therapy modalities, I help clients work through challenges, providing trauma-informed care that focuses on healing and building resilience.</p>
            <a href="/therapy" class="learn-more-button">Learn More</a>
        </div>
        <div class="home-expertise-item" id="consults">
            <h3>Consultations</h3>
            <img src="/images/consultation-image.jpg" alt="Consultation Image">
            <p>A parent consultation is a meeting in which we discuss your child's needs, behaviors, and progress, and I provide guidance to help you navigate behavioral and communication challenges.</p>
            <p>Parent Consultation can address behavioral and academic concerns, create strategies for improvement, and outlines a plan for success. The primary focus is on developing appropriate parenting skills and strategies, specific to your needs.</p>
            <a href="/consults" class="learn-more-button">Learn More</a>
        </div>
        <div class="home-expertise-item" id="assessments">
            <h3>Assessments & Evaluations</h3>
            <img src="/images/assessments-image.png" alt="Assessments Image">
            <p>I offer comprehensive psychoeducational, behavioral and social-emotional, and neuropsychological evaluations.</p>
            <p>To determine which evaluation is right for your child, we will consider the primary difficulties they are experiencing and the referral questions to be answered. Together we will determine the most appropriate type of evaluation.</p>
            <a href="/assessments" class="learn-more-button">Learn More</a>
        </div>
    </div> 
    <h4>Online and In-Person Appointments Available</h4>
</section>

<!-- Testimonials ?-->

<!-- About Preview Section -->

<section class="home-about">
    <div class="home-about-content">
        <div class="home-about-text">
            <h2>Dr. Lisa Acker</h2>
            <p>
                I'm a psychologist with over 20 years of experience working with individuals and families. I’m dedicated to providing excellent care for children and adults, offering personalized support through evidence-based therapy, parent consultations, and psychoeducational assessments. I create a warm, nonjudgmental environment where you’ll feel heard, supported, and understood.
            </p>
            <p>
                For over 20 years, I have worked with a diverse array of people, from childhood through adulthood, across the US, and in Hong Kong and England. I work from an integrative perspective, tailoring the therapeutic modality to your expressed goals. My professional and personal experience has provided me with...
            </p>
            <a href="/about" class="read-more-button">Read More</a>
        </div>
        <div class="home-about-image">
            <img src="/images/bio-image.jpg" alt="Profile Image">
        </div>
    </div>
</section>