<!-- Hero Section -->
<section class="hero">
    <h2>Wisdom. Clarity. Growth.</h2>
    <p>Serving Californians</p>
    <a href="/contact" class="cta-button">Get in Touch</a>
</section>

<!-- Welcome Section -->
<section class="welcome">
    <div class="welcome-content">
        <h2>Welcome</h2>
        <p>Sage Psychological Services is dedicated to providing individualized, compassionate care for adolescents and adults. Through clinical consultations, solution-focused therapy, and psychoeducational testing, we empower clients to navigate life’s obstacles, gain insight, and achieve their personal goals. Our mission is to advocate for each client’s well-being, ensuring they receive the resources, care, and professional guidance needed to thrive.</p>
    </div>
    <div class="welcome-image">
        <img src="/images/welcome-image.jpg" alt="Welcome Image">
        <p class="hidden-attribution">
            <a href="https://www.vecteezy.com/photo/32493553-blurred-image-of-natural-background-from-water-and-plants-generative-ai" target="_blank" rel="noopener noreferrer">
                Stock photos by Vecteezy
            </a>
        </p>
    </div>
</section>

<!-- Expertise & Specializations Preview Section -->
<section class="home-expertise">
    <h2>What I Do</h2>
    <div class="home-expertise-content">
        <div class="home-expertise-item" id="consults">
            <h3>Consultations</h3>
            <img src="/images/consultation-image.jpeg" alt="Consultation Image">
            <p>Parent consultations to address behavioral and academic concerns, create strategies for improvement, and outline a plan for success.</p>
            <a href="/consults" class="learn-more-button">Learn More</a>
        </div>
        <div class="home-expertise-item" id="assessments">
            <h3>Psychoeducational Assessments</h3>
            <img src="/images/assessments-image.jpg" alt="Assessments Image">
            <p>Providing comprehensive evaluations for clarity and educational accommodations.</p>
            <a href="/assessments" class="learn-more-button">Learn More</a>
        </div>
        <div class="home-expertise-item" id="therapy">
            <h3>Solution-Focused Therapy</h3>
            <img src="/images/therapy-image.jpg" alt="Therapy Image">
            <p>Therapy sessions targeted at helping adolescents and adults with Anxiety, OCD, Tick Disorders, BFRB's, and Depression. (Extensively trained in CBT, ERP, and HRT)</p>
            <a href="/therapy" class="learn-more-button">Learn More</a>
        </div>
    </div>
    <h4>Online and In-Person Appointments Available</h4>
</section>


<!-- Testimonials -->

<!-- About Preview Section -->

<section class="home-about">
    <div class="home-about-content">
        <div class="home-about-text">
            <h2>Meet Lisa</h2>
            <p>
                "First and foremost, I am a dedicated and experienced professional providing excellent care for adolescents and adults. I offer personalized care, including evidence-based therapy and psycho-educational assessments. When conducting initial consultations and subsequent sessions, I provide a warm and non-judgemental environment and listen attentively.
            </p>
            <p>
                For over 20 years, I have worked with a diverse array of people, from childhood through adulthood, across the US, and in Hong Kong and England. I work from an integrative perspective, tailoring the therapeutic modality to the expressed goals. My professional and personal experience has provided me with...
            </p>
            <a href="/about" class="read-more-button">Read More</a>
        </div>
        <div class="home-about-image">
            <img src="/images/bio-image.jpg" alt="Profile Image">
        </div>
    </div>
</section>