<div class="services-header">
    <h1>Services</h1>
</div>

<!-- Expertise & Specializations Preview Section -->
<section class="services-expertise">
    <h2>What I Do</h2>
    <div class="services-expertise-content">
        <div class="home-expertise-item" id="consults">
            <h3>Consultations</h3>
            <img src="/images/consultation-image.jpeg" alt="Consultation Image">
            <p>Parent consultations to address behavioral and academic concerns, create strategies for improvement, and outline a plan for success</p>
            <a href="/consults" class="learn-more-button">Learn More</a>
        </div>
        <div class="home-expertise-item" id="assessments">
            <h3>Psychoeducational Assessments</h3>
            <img src="/images/assessments-image.png" alt="Assessments Image">
            <p>I offer comprehensive psychoeducational assessment evaluations to clearly understand your child's learning style, strengths, and challenges, how they process information and manage their emotions and behavior. </p>
            <p>The most important result of a psychoeducational assessment is the comprehensive recommendations for home and school.</p>
            <a href="/assessments" class="learn-more-button">Learn More</a>
        </div>
        <div class="home-expertise-item" id="therapy">
            <h3>Solution-Focused Therapy</h3>
            <img src="/images/therapy-image.png" alt="Therapy Image">
            <p>Targeted therapy sessions for teens and adults struggling with anxiety, OCD, tic, BFBR's (<i class="e">Skin-picking and Hair pulling</i>), depression, and recovering from traumatic events. Using effective approaches like CBT, ERP, and HRT, I help clients work through challenges, providing trauma-informed care that focuses on healing and building resilience.</p>
            <a href="/therapy" class="learn-more-button">Learn More</a>
        </div>
    </div>
    <h4>Online and In-Person Appointments Available</h4>
</section>