<div class="services-header">
    <h1>Services</h1>
</div>

<!-- Expertise & Specializations Preview Section -->
<section class="services-expertise">
    <h2>What I Do</h2>
    <div class="services-expertise-content">
        <div class="home-expertise-item" id="consults">
            <h3>Consultations</h3>
            <img src="/images/consultation-image.jpeg" alt="Consultation Image">
            <p>Parent consultations to address behavioral and academic concerns, create strategies for improvement, and outline a plan for success</p>
            <a href="/consults" class="learn-more-button">Learn More</a>
        </div>
        <div class="home-expertise-item" id="assessments">
            <h3>Psychoeducational Assessments</h3>
            <img src="/images/assessments-image.png" alt="Assessments Image">
            <p>Providing comprehensive evaluations for clarity and educational accommodations.</p>
            <a href="/assessments" class="learn-more-button">Learn More</a>
        </div>
        <div class="home-expertise-item" id="therapy">
            <h3>Solution-Focused Therapy</h3>
            <img src="/images/therapy-image.png" alt="Therapy Image">
            <p>Therapy sessions targeted at helping adolescents and adults with Anxiety, OCD, Tick Disorders, BFRB's, and Depression. (Extensively trained in CBT, ERP, and HRT)</p>
            <a href="/therapy" class="learn-more-button">Learn More</a>
        </div>
    </div>
    <h4>Online and In-Person Appointments Available</h4>
</section>