<!-- Therapy Header Section -->
<div class="therapy-header">
    <h1>Solution-Focused Therapy</h1>
</div>

<!-- Therapy Introduction Section -->
<section class="therapy-intro-section">
    <div class="therapy-intro-section-content">
        <!-- Introductory Image -->
        <div class="therapy-intro-section-image">
            <img src="/images/therapy-image.png" alt="Solution-Focused Therapy">
        </div>
        <!-- Introductory Text -->
        <div class="therapy-intro-section-text">
            <h2>Evidence-Based Treatment</h2>
            <p>
                I specialize in providing care for clients who suffer from Anxiety-based Disorders, OCD, Tic Disorders, and those recovering from traumatic events. My goal is to provide a compassionate and transformative experience, helping you gain valuable insights, foster positive changes, and approach challenges in healthier ways.
            </p>
        </div>
    </div>
</section>

<!-- Therapy Process Section -->
<section class="therapy-process-section">
    <h2>Therapy Process</h2>
    <p>
        <u>First</u>, consent forms are completed, and then an initial meeting is scheduled to determine if the client and therapist feel it is a good fit and should move forward with treatment.
    </p>
    <div class="therapy-process-section-image">
        <img src="/images/therapy-process-image.jpg" alt="Therapy Process">
    </div>
    <p>Using a variety of therapeutic approaches, including Cognitive-Behavioral Therapy (CBT), I tailor treatment to each client’s unique needs. We’ll identify and address unhelpful thoughts and behavior patterns and work toward your personal goals. I also use Cognitive Processing Theory (CPT), Exposure and Response Prevention (ERP), and Habit Reversal Training, depending on the client’s needs and preferences.  I’m committed to creating a safe, supportive space for you to share your concerns, develop effective coping strategies, and make meaningful change in your life.</p>
</section>